/* CSS Document */
#logincontrol {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
	border: solid;
	border-color: #A2ADBC;
}

.header {
	height: 70px;
    width: auto;
	background-color:#3D72A4;
}

.button:active {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.buttonpressed {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.button {
	background-color:#DF9496;
	color: #4F4F4F;
	min-height: 25px;
	min-width: 65px;
	border: solid;
	border-width: thin;
	border-color: #A2ADBC;
	font-weight: bold;
	font-size: 13px;
}

label {
	color: #4B4B4B;
	font-weight: bold;
	font-size: 14px;
}

body {
	background-color: #F4F3EE;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.navbar {
	background-color:#669999;
	border-style: dashed;
	border-width: thin;
	height: 25px;
}
.navitem {
	width: 10%; 
	height: inherit;
	float:left; 
	text-align:center;
	border: none;
	border-right-style: dashed;
	border-right-width: thin;
	background-color:#669999;
}

.navitemlast {
	width: 10%; 
	height: inherit;
	float: right; 
	text-align:center;
	border: none;
	border-left-style: dashed;
	border-left-width: thin;
	background-color:#669999;
}

.navlink {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding-top: 3px;
}

.navlink:hover {
	color: #000000;
}

.table {
	border-spacing: 0px;
}

.table th {
	border-left: thin;
	border-left-style: dashed;
	border-top: thin;
	border-top-style: dashed;
	border-bottom: thin;
	border-bottom-style: dashed;
	background-color: #A2ADBC;
	margin-left: 5px;
}

.table th:last-child {
	border: thin;
	border-style: dashed;
	background-color: #A2ADBC;
}

.table td {
	border-left: thin;
	border-left-style: dashed;
	border-bottom: thin;
	border-bottom-style: dashed;
}

.table td:last-child {
	border-left: thin;
	border-left-style: dashed;
	border-right: thin;
	border-right-style: dashed;
	border-bottom: thin;
	border-bottom-style: dashed;
	
}

.table tr:nth-child(even) {
	background-color: #D9E2E1;
}

.table tr:hover {
	background-color: #F6F4DA;
}

